html {

    body {

        .siteSidebar {

            font-family: var(--font-elza);
            
            .logoWrapper {
                position: relative;
                aspect-ratio: 1 / 1;
                width: 4rem;
            }

            .copyright {
                font-weight: 700;
            }
        }

        .main {
            font-family: var(--font-elza);
        }
    }
}

