.page-about {

    .link {
        width: fit-content;
        border: solid 1px $off-white;

        padding: 0;
        margin: 0 auto 0.6rem;

        transition: all 0.1s;

        font-size: 1rem;

        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.4rem;
            
            padding: 0.4rem 0.8rem;
        }

        &:hover,
        &:focus,
        &:active {
            transform: translate(0px, -4px);
            background-color: $off-white;
            color: $bg-red; 
        }
    }

    padding: 1rem;

    .divider {
        margin: 6rem auto;
        width: 80%;
        height: 0;
        border: solid 1px $act-brown;
    }

    .section-personal {


        .portrait {
            width: 100%;
            height: auto;
            margin: 1rem 0 2rem;
        }

        h2 {
            font-weight: 500;
        }

        p {
            font-weight: 300;
            letter-spacing: 1px;
            line-height: 1.5rem;
        }
    }

    .section-professional {
        font-weight: 500;

        h3 {
            margin-top: 2rem;
            font-size: 1.2rem;
            font-weight: 500;
        }

        ul {
            padding: 0;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            li {
                margin: 0.2rem;
                padding: 0.3rem 0.8rem;
                background-color: $act-brown;
                border-radius: 1rem;

                font-size: 1rem;
                color: $off-white;
            }
        }

        .resume-frame {
            display: none;
        }
    }

    .section-contact {

        text-align: center;
        padding-bottom: 4rem;

    }

    @media (min-width: 700px) {

        padding-left: 4rem;

        .section-personal {

            display: grid;
            grid-template-areas: 
            'secthead secthead'
            'picture picture'
            'bio bio';
            grid-template-columns: 40% 60%;
            grid-template-rows: 5rem auto;
            gap: 1rem;

            h2 {
                grid-area: secthead;
                text-align: right;
                font-size: 2rem;
                font-weight: 500;
            }

            .portrait {
                grid-area: picture;
                padding: 0 0 0 1rem;
                border-left: solid 0.5rem $act-brown;
                margin: 0 auto;
                max-width: 400px;
                align-self: center;
            }

            p {
                grid-area: bio;
                text-align: right;
                font-weight: 300;
            }
        }

        .section-professional {

            h2 {
                text-align: right;
                font-size: 2rem;
                font-weight: 500;
            }

            h3 {
                font-size: 1.5rem;
            }

            .resume-link {
                display: none;
            }

            .resume-frame {
                display: block;
                margin: 0 auto;
                width: 100%;
                height: auto;
                max-width: 600px;

                aspect-ratio: 1 / 1.29;
            }
        }
    }

    @media (min-width: 1200px) {

        .section-personal {

            grid-template-areas: 
            'picture secthead'
            'picture bio';

            p {
                font-size: 1.2rem;
                line-height: 1.8rem;
            }

        }

        .section-professional {

            ul {

                li {

                }
            }
        }
    }
}