
ul {

    position: relative;
    bottom: -2rem;
    width: 42rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
       
        color: $off-white;
        text-align: center;
        font-size: 1.2rem;

        width: 12rem;
        padding-top: 1.5rem;
        margin-top: 1rem;

        .link-box {

            display: inline;
            width: 12rem;
            height: 4.5rem;
            padding: 0.35rem;

            top: 0;
            right: 50%;
            transform: translate(50%, 0);


            div {

                border-right: solid 2px $off-white;

                svg {
                    display: none;
                }
            }
        }

        .line {
            display: none;
        }
    }


}