.page-projects {

    .project-card {
        padding: 0;
        margin: 4rem 0 8rem;
    
        .screenshot {
            width: 100%;
            height: auto;
        }

        h2 {
            font-weight: 500;
            font-size: 1.4rem;
        }

        ul {
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            li {
                margin: 0.2rem 0.2rem;
                padding: 0.3rem 0.8rem;
                background-color: $act-brown;
                border-radius: 1rem;

                font-size: 0.8rem;
            }
        }

        .overview {
            font-weight: 300;
            line-height: 2rem;
        }

        .repo-link,
        .project-link {
            text-align: right;
            margin-bottom: 3rem;
        }

        .repo-link a {
            padding: 0.2rem 0.5rem;
            border-bottom: solid 2px $off-white;
            margin: 0 1rem;
        }

        .project-link a {
            background-color: $act-brown;
            padding: 0.8rem 1.5rem;

            &:hover,
            &:focus,
            &:active {
                color: $charcoal;
            }
        }
    }

    @media (min-width: 700px) {

        padding: 0 2rem;


    }

    @media (min-width: 1200px) {
        padding: 0;

        .project-card {
            display: grid;
            grid-template-areas: 
            'area1 area2';
            gap: 1rem;

            .screenshot {
                object-fit: cover;

                aspect-ratio: 3 / 2;
            }

            .project-info {
                
                h2 {
                    font-size: 1.8rem;
                    margin: 1rem 0 0;
                    text-align: right;
                }

                .tech-stack {
                    margin: 0.5rem 0;
                    justify-content: flex-end;

                    li {
                        font-size: 1rem;
                    }
                }

                p {
                    margin: 0;
                    text-align: right;
                }

                .links {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 1rem;

                    margin-top: 1rem;

                    div {
                        display: inline-block;
                    }
                }
            }

            &:nth-child(even) {

                .project-info {
                    grid-area: area1;

                    h2 {
                        text-align: left;
                    }

                    .tech-stack {
                        justify-content: flex-start;
                    }

                    p {
                        text-align: left;
                    }
                }

                .screenshot {
                    grid-area: area2;
                }
            }
        }
    }
}