@import 'components/accordion';

.page-single-project {

    .project-header {

        p {
            font-weight: 300;
        }
    }

    .screenshot {
        width: 60%;
        height: auto;
        margin-bottom: 2rem;
    }
}