$off-white: #faf9f6;
$charcoal: #181a1a;
$act-brown: #c69963;

$rich-blue: #00244b; // Original value: #001d3d
$bg-blue: #0f2033;

$rich-red: #49111c;
$bg-red: #261115;

$rich-green: #023020;
$bg-green: #162117;


$line-thickness: 0.2rem;